*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#242323;
  font-family: sans-serif;
  overflow-x: hidden;
background-image: url("../src/Images/music.jpg");
}
.stars{
position:absolute;
top:100px;
z-index: 1;
left:84%;
}
.stars-1{
position:absolute;
top:120px;
z-index: 1;
left: 0;
}
.container .icon{
  fill: gold;
    animation: rotateIcon 4s linear infinite;
      width:200px;
height:100px;
transform: rotate(0deg);
margin-top: 20px;
transition: 2s ease;
fill-opacity: 0.4;
z-index: -1;
}
@keyframes rotateIcon {
  0% {
      transform: rotate(0deg);
      display: flex;
      flex-direction:column;
  }
  100% {
      transform: rotate(360deg);
          display: flex;
      flex-direction:row;
  }
}
.slide-show{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom:20%;
}

.container{
  height:740px;
  width: 100%;
  position: relative;
  background-size:cover;
}
header{
  background:transparent;
  backdrop-filter: blur(10px);
  height:100px;
}
.navbar{
  width:90%;
  margin:auto;
  padding: 15px 0;
display: flex;
justify-content: space-between;
}
.logo{
  width:70px;
  cursor: pointer;
  justify-content: space-around;
  position: relative;
  top:-21px;
  animation: spin 2s ;
}
@keyframes spin {
  from{
    top: -200px;
  }
  to{
    transition: all 2s;
    top: -21px;
  }
}
header{
  border-bottom: 2px solid gold;
}
header b{
  position: absolute;
  top:10px;
  font-size:16px;
  font-family: cursive;
  left:12%;
  right:900px;
  color: white;
  line-height: 1.5rem;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  margin-top:19px;
}
.navbar ul li a{
  text-decoration: none;
  color:white;
  font-size:18px;
  font-weight: 666;
}
.navbar ul li a:hover{
  transition: 0.2s ease-in;
  /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in; */
  color: gold;
  border-bottom: 2px solid gold;
}
video{
  width:100%;
  height:700px;
  position: absolute;
  top:0;
    opacity:0.7;
    object-fit: cover;
    z-index: -99;
}
.content{
border: 8px solid #D4AF37;
width:70%;
height:400px;
justify-content: center;
align-items: center;
border-radius: 20px;
margin-left:200px;
  margin-top:5%;
}

.content h1{
font-size:80px;
padding-top:80px;
text-align: center;
line-height:6rem;
color:#EAEAEA;
font-family: "Roboto", sans-serif;
}



/* NEW RELEASE */
.newrelease{
   height:130vh;
}

.newrelease h1{
  text-align: center;
  color:gold;
  font-size:64px;
    padding-top:30px;
  font-weight:555;
  text-shadow: 2px 2px 2px black;
}
.artist-card{
  /* margin-right: 20px;
  margin-left: 20px; */
   /* background-image: -webkit-linear-gradient(180deg,rgb(236, 201, 4) 50%, black 50%); */
  margin-top:22%;
  height:30vh;
  display:flex;
   flex-direction: row;
   justify-content:space-evenly;
   align-items: center;
}
/* .side-content h2{
  font-size:60px;
  text-align: center;
} */
.carousel{
  padding: 15px;
  /* margin: 15px; */
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}
.artist img{
         width:630px;
        height:630px;
   border-radius: 20px;
   filter:drop-shadow(8px 8px 46px #000000);
   scale:0.9;
}
.move{
  transition:all 5s ease-in;
}
.artist button{
  width:70px;
  height:70px;
  border:none;
  outline-style: none;
  background:#262424;
  font-size:42px;
   padding: 10px;
   color: whitesmoke;
   font-weight:70;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   border-radius:50%;
   text-align: center;
   cursor:pointer;
   box-shadow:2px 3px 4px black ;
   filter: drop-shadow(2px 3px 4px 4px black);
  }
  .artist button:hover{
  background:gold;
  transition:ease-in cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #262424;
filter: drop-shadow(none);
}
.explore{
  display:flex;
  align-items: center;
  justify-content: center;
}
.explore-btn{
  padding-top:10px;
  font-size:20px;
  border-radius: 20px;
    padding-bottom:10px;
    padding-left:50px;
    padding-right:50px;
    border:none;
    background: #FFD700;
    cursor: pointer;
    position:sticky;
    margin-top:5%;
    margin-left:25%;
    /* margin-top:3%; */
    /* margin-bottom:5%; */
    font-weight:110;
      border-radius:30px;
  }

  /* FEATURED ARTIST */
  #artist-container{
    height:125vh;
  }
  .features-text{
  width:100%;
  height:80px;
  margin-top:5%;
  margin-bottom:3%;
  font-size:35px;
  font-weight:700;
  justify-content: center;
  align-items: center;
  color: gold;
  filter:drop-shadow(8px 8px 8px rgb(39, 36, 29));
  }
  
  .Features-artist{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    gap: 4em;
    margin-top:8%;
  }
  .flex-artist h2{
        font-weight: bold;
      font-size: 36px;
      padding-top:30px;
    color: white;
        text-shadow: 2px 2px 4px black;
  }
  
  .flex-artist img{
    width: 350px;
    height: 350px;
    border-radius:10px;
    object-fit: cover;
    border: 6px solid gold;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) all;
    box-shadow: 0 0 9px rgb(150, 128, 3), 0 0 19px rgb(156, 133, 2);
  }
  .flex-artist img:hover{
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 15px #e2b934, 0 0 15px orange;
  }
  .seemore{
    display: flex;
    justify-content: center;
    align-items: center ;
    width:310px ;
    height:100px;
    border-radius: 10px;
    margin-left:40%;
     margin-top: 3%;
       border: 4px solid gold;
     /* border: 3px solid gold; */
  }
  .seemore-btn{
    width:280px;
    height:70px;
    font-size:30px;
    font-weight: 600;
       border: none ;
       border-radius: 5px;
  background-color: gold;
  cursor: pointer;
  }
  .seemore a{
    text-decoration:none;
    color: black;
  }
  .seemore a:hover{
    color: black;
  }

.book_show{
  background-size: cover;
  height:80vh;
}
.show-item{
  justify-content: center;
  align-items: center;
}
.book_show h1{
  color: gold;
  font-size:59px;
  font-weight: bold;
  text-align: center;
  padding-top:50px;
}
.book_show p{
  color: whitesmoke;
  font-size:32px;
  padding-top:80px;
  line-height:3rem;
  opacity: 80%;
  text-shadow: 7px 7px 7px black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.book-btn{
  display: flex;
  margin-top: 5%;
  justify-content:center;
  gap: 2em;
  align-items: center;
}
.book_show .btn-gold{
font-size: 30px;
padding: 10px;
width:250px;
height:80px;
border-radius:5px;
border: none;
/* margin-left:400px; */
background: gold;
color: black;
/* margin-top:70px; */
box-shadow: 2px 3px 3px 2px black;
cursor: pointer;
font-weight:500;
}
.book_show .btn-white{
font-size: 30px;
padding: 10px;
width:250px;
height:80px;
border-radius:5px;
border:none;
color: black;
  background:white ;
font-weight:500;
/* margin-left:80px; */
box-shadow: 2px 3px 3px 2px black;
cursor: pointer;
}
.btn-gold:hover{
  transition: all 0.2s;
border:none;
  background:white;
}
.btn-white:hover{
  transition: ease-in 0.2s;
border:none;
  background:gold;
  color: black;
}



/* Newletter */

.news-letter{
  margin-top: 30px;
  margin-bottom:20px;
  height:80vh;
  /* margin-left:50px; */
  justify-content:space-around;
  display: flex;
  flex-direction: row;
}
.info{
  margin-left:7 0px;
}
summary{
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
    padding-left:60px;
  color: rgb(255, 249, 249);
}
.news-letter h1{
font-size:80px;
/* line-height:1.3rem; */
color: white;
font-family: sans-serif;
padding-top:80px;
padding-left:70px
}

details p{
  position: absolute;
  padding-top:15px;
  padding-left:75px;
  font-size:22px;
  color:rgb(209, 203, 203);
  line-height:27px;
}
fieldset{
  width: 550px;
  height:470px;
  border-radius:10px;
  border: 3px solid gold;
}

legend{
  background:#242323;
  margin-left: 6px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 3px;
  width:300px;
  color: gold;
}

fieldset input[type="text"],input[type="email"]{
width: 480px;
/* height: 55px; */
margin-top:20px;
margin-left: 30px;
margin-bottom:6px;
background:white;
border:3px solid gold;
border-radius: 6px;
font-size: 16px;
  padding: 12px 20px;
}
input:focus{
  border :3px solid  white;
  outline-color:white;
}
::placeholder{
  color:grey;
  font-size: 16px;
  font-weight: 600;
  font-weight: lighter;
  padding-left:1px;
}

input[type="checkbox"]{
  width:20px;
  height: 20px;
  margin-top:1px;
  background: gold;
}
input[type="checkbox"]:checked{
  accent-color: gold;
}

fieldset p{
  display: flex;
  flex-direction:row;
  gap:6px;
  justify-content: center;
font-size: 20px;
padding-top: 25px;
/* text-align:center; */
color: white;
}
fieldset button{
  width:450px;
  height:70px;
  margin-top:28px;
  margin-left: 45px;
  font-size:30px;
  background: gold;
  font-weight:700;
  border: none;
  border-radius:10px;
  cursor:pointer;
}
fieldset button:hover{
  transition: 0.3s ease-in;
}



.end h1{
  text-align: center;
  padding-top:80px;
  color: white;
}


/* Footer */
footer{
   width: 100vw;
  height:72vh;
  background-image: -webkit-linear-gradient(180deg,
    rgba(34, 0, 0, 0) 0%,
      rgb(22, 21, 21) 100%);
      /* margin-top: 10px; */
}
footer .flex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-top: 60px;
}
footer .flex h2{
  font-size:30px;
  color: white;
  padding-left:25px;
  padding-top:40px;
  padding-bottom:10px;
}
.flex ul{
  padding:20px;
  list-style-type: none;
}
.flex ul li{
  padding:8px;
  font-size:19px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) ease-in;
  cursor: pointer;
  color: whitesmoke;
}
.flex ul li:hover{
  color:gold;
}
.feedback{
  margin-top:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feedback input{
  width:300px;
  height: 50px;
  outline: gold;
  outline-color: gold;
  border: none;
  border-color: gold;
  border-radius:10px;
  padding: 15px;
}
.feedback button{
  padding: 15px;
  border: none;
  background: gold;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}
.blend-image{
  width:300px;
  z-index: -999;
  position:absolute;
  top: 510%;
  left: 40px;
}
 .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }
.footer-icon{
  padding: 15px;
  font-size: 25px;
  width:80px;
}
.footer-icon:hover{
  transition: .2s ease-in;
  transform: scale(1.3);
fill:gold;
}

.copyright{
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 80px;
}







@media (max-width: 700px){

  .star{
   display:none;
  }

  .container{
 height:700px;
  }

  header b{
  font-size: 14px;
  text-align:center;
  left:16%;
  }

  .navbar{
    gap:3em;
  }

  .navbar ul{
  margin:0 9px;
  margin-left:3px;
  margin-right:-30px;
  padding-left: 3px;
  }

  .navbar ul li a{
    font-size:16px;
  }

  .content{
    margin-left:5%;
    width:90%;
    margin-top:10%;
  }
  
  .content h1{
 padding-top:15px;
 font-size:60px;
    font-weight:999;
    line-height:5.5rem;
    color: black; 
}

video{
  height:600px;
}


.news-letter{
  margin-top:0;
  height:130vh;
  display:flex;
  flex-direction:column;
  margin-top:10px;
  justify-content:center;
  align-items: center;
  gap: 3em;
}
.details p{
  background: black;
  z-index: 999;
}
.news-letter h1{
  font-size:40px;
  padding-top:0;
}
.fieldset{
  height:350px;
}
}

div{
  width: 400px;
  height: 200px;
  border-radius: 15px;
  text-align: center;
}