.Card-grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
        margin-top:2%;
    margin-left: 3%;
 column-gap:15em;
 margin-top:10%;
}
.Card-body{
    width:300px;
    height:150px;
    background:gold;
    border:4px solid gold;
    backdrop-filter: blur(20px);
    filter: drop-shadow(4px 4px 8px rgb(2, 2, 2));
    border-radius:5px;
    display: flex;  
    flex-direction:column;
}
.title{
    display: flex;
    flex-direction: row;
   align-items: center;
   margin-left: 10px;
}
.title h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding-left: 10px;
    font-family: sans-serif;
    font-weight:666;
}
.artist-data{
    top:-20px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5em;
}
.artist-total h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:40px;
    color: black;
    font-weight: 999;
    padding-left: 5px;
}
.incremental-vae{
    display: flex;
    flex-direction: column;
}
.increment p{
    color: rgb(15, 192, 15);
    font-size:20px;
    font-weight:999;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.decrement p{
        font-size:20px;
    font-weight:999;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
}