:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}
body{
  overflow-y: hidden;
  background-color: rgb(3, 1, 14);
  z-index: 999;
}
.parent{
  display: flex;
  flex-direction: row;
}
.left{
  background-image: url("../src/IMAGES/bg\(2\).webp");
background-repeat: no-repeat;
background-size:600px;
  display: flex;
  flex-direction:row;
position: relative;
top:0px;
height:100vh;
  gap: 2em;
  width:100%;
}
.img{
  position: absolute; 
  left:20%; 
  top:8px;
 
}
.checkbox input {
  width: 30px;
  height:15px;
    cursor: pointer;
}
.checkbox{
  font-size: 20px;
  cursor: pointer;
}
.grid{
  margin-top:9%;
  margin-left:3%;
  width:500px;
  /* border: 5px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  height:450px;
  border-radius:8px;
  border: 1px solid #ccc;
  backdrop-filter: blur(10px);
  /* filter: drop-shadow(2px 2px 2px #ccc); */
  background-color:transparent;
}
.right{
width:150%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: url("../src/Images/microphone.jpg");
  background-repeat: no-repeat;
  background-size:1200px;
  position:fixed;
  left:600px;
  top:0;
  height:200vh;
}
.right img{
  width: 100px;
  height: 100px;
}
.grid-star{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.right h1{
  width:500px;
  line-height:6rem;
  /* border: 2px solid #ccc; */
  font-size:70px;
  color: gold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* padding-left: 60px; */
}
.form-label-group {
  position: relative;
  margin-bottom:2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #424240;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777777;
}

.role{
  text-align: center;
  color: white;
  padding-top: 15px;
}
