*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#242323;
  font-family: sans-serif;
  overflow-x: hidden;
}
.stars{
position:absolute;
top:100px;
z-index: 1;
left:84%;
}
.stars-1{
position:absolute;
top:120px;
z-index: 1;
left: 0;
}
.container .icon{
  fill: gold;
    animation: rotateIcon 4s linear infinite;
      width:200px;
height:100px;
transform: rotate(0deg);
margin-top: 20px;
transition: 2s ease;
fill-opacity: 0.4;
z-index: -1;
}

@keyframes rotateIcon {
  0% {
      transform: rotate(0deg);
      display: flex;
      flex-direction:column;
  }
  100% {
      transform: rotate(360deg);
          display: flex;
      flex-direction:row;
  }
}
.slide-show{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom:20%;
}

.container{
  height:700px;
  width: 100%;
  position: relative;
  background-size:cover;
}
header{
  background:transparent;
  backdrop-filter: blur(10px);
  height:100px;
}
.navbar{
  width:90%;
  margin:auto;
  padding: 15px 0;
display: flex;
justify-content: space-between;
}
.logo{
  width:70px;
  cursor: pointer;
  justify-content: space-around;
  position: relative;
  top:-21px;
  animation: spin 2s ;
}
@keyframes spin {
  from{
    top: -200px;
  }
  to{
    transition: all 2s;
    top: -21px;
  }
}
header{
  border-bottom: 2px solid gold;
}
header b{
  position: absolute;
  top:10px;
  font-size:16px;
  font-family: cursive;
  left:12%;
  right:900px;
  color: white;
  line-height: 1.5rem;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  margin-top:19px;
}
.navbar ul li a{
  text-decoration: none;
  color:white;
  font-size:18px;
  font-weight: 666;
}
.navbar ul li a:hover{
  transition: 0.2s ease-in;
  /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in; */
  color: gold;
  border-bottom: 2px solid gold;
}
video{
  width:100%;
  height:650px;
  position: absolute;
  top:0;
    opacity:0.7;
    object-fit: cover;
    z-index: -99;
}
.content{
/* border: 8px solid #D4AF37; */
width:70%;
height:400px;
justify-content: center;
align-items: center;
border-radius: 20px;
margin-left:200px;
  margin-top:3%;
}

.content h1{
font-size:80px;
padding-top:80px;
text-align: center;
line-height:6rem;
color:#EAEAEA;
font-family: "Roboto", sans-serif;
}
.signed{
  display: flex;
  flex-direction: row;
  left:234px;
  top:20px;
  position:relative;
  /* justify-content:center;
  align-items: center; */
}
.signed img{
 width: 50px;
 height:50px;
 border-radius:50px;
 border:2px solid gold;
}
.signed span{
  color:white;
  font-weight:55;
  padding-left:25px;
  padding-top:10px;
  font-size:23px;
}
