*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:#242323;
  font-family: sans-serif;
  overflow-x: hidden;
}
.stars{
position:absolute;
top:100px;
z-index: 1;
left:84%;
}
.stars-1{
position:absolute;
top:120px;
z-index: 1;
left: 0;
}
.container .icon{
  fill: gold;
    animation: rotateIcon 0.9s linear infinite;
      width:200px;
height:100px;
transform: rotate(0deg);
margin-top: 20px;
transition: 2s ease;
fill-opacity: 0.9;
z-index: -1;
}

@keyframes rotateIcon {
  0% {
      transform: rotate(0deg);
      display: flex;
      flex-direction:column;
  }
  100% {
      transform: rotate(360deg);
          display: flex;
      flex-direction:row;
  }
}
.slide-show{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom:20%;
}

.container{
  height:700px;
  width: 100%;
  position: relative;
  background-size:cover;
}
header{
  backdrop-filter: blur(20px);
  height:100px;
  position: fixed;
  width: 100%;
  top:0;
  z-index: 999;
 border-bottom: 2px solid gold;
}
.navbar{
  width:90%;
  margin:auto;
  padding: 15px 0;
display: flex;
justify-content: space-between;
   animation: slideTop .5s ease forwards;
     animation-delay: calc(.2s * var(--i));
}
.logo{
  width:70px;
  cursor: pointer;
  justify-content: space-around;
  position: relative;
  top:-21px;
  animation: spin 2s ;
}
@keyframes spin {
  from{
    top: -200px;
  }
  to{
    transition: all 2s;
    top: -21px;
  }
}

header b{
  position: absolute;
  top:10px;
  font-size:16px;
  font-family: cursive;
  left:12%;
  right:900px;
  color: white;
  line-height: 1.5rem;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  margin-top:19px;
}
.navbar ul li a{
  text-decoration: none;
  color:white;
  font-size:18px;
  font-weight: 666;
}
.navbar ul li a:hover{
  transition: 0.2s ease-in;
  /* transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) ease-in; */
  color: gold;
  border-bottom: 2px solid gold;
}
.navbar ul li a:hover video{
  width:100%;
  height:670px;
  position: absolute;
  top:0;
    opacity:0.7;
    object-fit:cover;
    /* z-index: -99; */
}
.content{
/* border: 8px solid #D4AF37; */
   animation: slideTop .5s ease forwards;
     animation-delay: calc(.2s * var(--i));
width:70%;
height:460px;
justify-content: center;
align-items: center;
border-radius: 20px;
left:200px;
position:relative;
  top:22%;
}

.content h1{
font-size:80px;
padding-top:80px;
text-align: center;
line-height:6rem;
color:#EAEAEA;
font-family: "Roboto", sans-serif;
}
.signed{
  display: flex;
  flex-direction: row;
  left:234px;
  top:20px;
  position:relative;
  /* justify-content:center;
  align-items: center; */
}
.signed img{
 width: 50px;
 height:50px;
 border-radius:50px;
 border:2px solid gold;
}
.signed span{
  color:white;
  font-weight:55;
  padding-left:25px;
  padding-top:10px;
  font-size:23px;
}




  /* FEATURED ARTIST */
  #artist-container{
     animation: slidebottom 1s ease forwards;
    position: relative;
    top:-40px;
    bottom: 5%;
  }
   @keyframes slideTop {
     0% {
         transform: translateY(100px);
         opacity: 0;
     }

     100% {
         transform: translateY(0px);
         opacity: 1;
     }
 }

 @keyframes slidebottom {
     0% {
         transform: translateY(-100px);
         opacity: 0;
     }

     100% {
         transform: translateY(0px);
         opacity: 1;
     }
 }
  .features-text{
  width:100%;
  height:80px;
  padding-top:4%;
  margin-bottom:3%;
  font-size:35px;
  font-weight:700;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: gold;
  filter:drop-shadow(8px 8px 8px rgb(39, 36, 29));
  }
  
  .Features-artist{
    display:grid;
   grid-template-columns:300px 300px 300px ;
   justify-content:space-evenly;
    row-gap: 2em;
   align-items: center;
    margin-top:8%;
  }
  .flex-artist{
    height: 460px;
    background:#242323;
    border-bottom: 4px solid gold;
    /* filter: drop-shadow(4px 4px 8px #1d1c1c); */
     box-shadow: 0 0 15px #1d1c1c,
         0 0 30px #1d1c1c;
    border-radius:15px;
    width:350px;
    transition: transform 0.9s ease, filter 0.9s ease;
  }
  .flex-artist:hover{
  transform: scale(1.05);
    transform: translateY(-7px);
      box-shadow: 0 0 30px gold;
  }
  .flex-artist h2{
        font-weight: bold;
      font-size: 36px;
      padding-top:30px;
    color: white;
        text-shadow: 2px 2px 4px black;
  }
  .card-content{
    display: flex;
    flex-direction:column;
    margin-top: 10px;
  }
  .title-music{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .title-music .title p{
    font-size: 25px;
    color: white;
  }
  .title-music .artist p{
    font-size:18px;
    padding-top:5px;
    color: white;
  }
  .listen button{
    width:100px;
    height:40px;
    background: gold;
    border-radius:5px;
    font-size:18px;
    font-weight:99;
    border:none;
    margin-top:9px;
    cursor: pointer;
  }
  .flex-artist img{
    width: 350px;
    height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    /* border: 6px solid gold;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.94, 1) all;
    box-shadow: 0 0 9px rgb(150, 128, 3), 0 0 19px rgb(156, 133, 2); */
  }
  /* .flex-artist img:hover{
    border-radius: 50px 0 50px 0;
    box-shadow: 0 0 15px #e2b934, 0 0 15px orange;
  } */
  .seemore{
    display: flex;
    justify-content: center;
    align-items: center ;
    width:310px ;
    height:100px;
    border-radius: 10px;
    margin-left:40%;
     margin-top:4%;
       border: 4px solid gold;
     /* border: 3px solid gold; */
  }
  .seemore-btn{
    width:280px;
    height:70px;
    font-size:30px;
    font-weight: 600;
       border: none ;
       border-radius: 5px;
  background-color: gold;
  cursor: pointer;
  }
  .seemore a{
    text-decoration:none;
    color: black;
  }
  .seemore a:hover{
    color: black;
  }

 


  /* Join  */
.Join{
  background-image: url("../src/Images/microphone.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
  .book_show{
    position: relative;
    top:8%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  gap:3em;
}
.show-item{
display: flex;
flex-direction: column;
gap:2em;
  justify-content:space-between;
  align-items:space-between;
}
.book_show h1{
  color: gold;
  font-size:64px;
  font-weight: bold;
  text-align: center;
  padding-top:50px;
}
.book_show p{
  color: whitesmoke;
  font-size:32px;
  /* padding-top:80px; */
  line-height:3rem;
  opacity: 80%;
  text-shadow: 7px 7px 7px black;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.book-btn{
  display: flex;
  justify-content:center;
  gap: 2em;
  align-items: center;
  margin-bottom:50px;
}
.book_show .btn-gold{
font-size: 30px;
padding: 10px;
width:250px;
height:80px;
border-radius:5px;
border: none;
background: gold;
color: black;
/* box-shadow: 2px 3px 3px 2px black; */
cursor: pointer;
font-weight:500;
}
.book_show .btn-white{
font-size: 30px;
padding: 10px;
width:250px;
height:80px;
border-radius:5px;
border:none;
color: black;
  background:white ;
font-weight:500;
box-shadow: 2px 3px 3px 2px black;
cursor: pointer;
}
.btn-gold:hover{
  transition: all 0.2s;
border:none;
  background:white;
}
.btn-white:hover{
  transition: ease-in 0.2s;
border:none;
  background:gold;
  color: black;
}



/* New-Letter */


.news-letter{
  margin-top: 30px;
  margin-bottom:90px;
  /* margin-left:50px; */
  justify-content:space-around;
  display: flex;
  flex-direction: row;
}
.info{
  margin-left:7 0px;
}
summary{
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
    padding-left:30px;
  color: rgb(255, 249, 249);
}
.news-letter h1{
font-size:70px;
/* line-height:1.3rem; */
color: white;
font-family: sans-serif;
padding-top:130px;
padding-left:30px
}

details p{
  position: absolute;
  padding-top:15px;
  padding-left:75px;
  font-size:22px;
  color:rgb(209, 203, 203);
  line-height:27px;
}
fieldset{
  width:450px;
  height:420px;
  border-radius:10px;
  border: 3px solid gold;
  margin-top: 40px;
}

legend{
  background:#242323;
  margin-left: 6px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 3px;
  width:300px;
  color: gold;
}

fieldset input[type="text"],input[type="email"]{
width:400px;
margin-top:20px;
margin-left: 30px;
margin-bottom:6px;
background:white;
border:3px solid gold;
border-radius:5px;
font-size: 16px;
  padding: 12px 20px;
}
input:focus{
  border :3px solid  gold;
  outline-color:gold;
}
::placeholder{
  color:grey;
  font-size: 16px;
  font-weight: 600;
  font-weight: lighter;
  padding-left:1px;
}

input[type="checkbox"]{
  width:20px;
  height: 20px;
  margin-top:1px;
  background: gold;
}
input[type="checkbox"]:checked{
  accent-color: gold;
}

fieldset p{
  display: flex;
  flex-direction:row;
  gap:6px;
  margin-left:35px;
font-size:16px;
padding-top: 25px;
/* text-align:center; */
color: white;
}
fieldset button{
  width:300px;
  height:50px;
  margin-top:28px;
  margin-left:45px;
  font-size:30px;
  background: gold;
  font-weight:700;
  border: none;
  border-radius:5px;
  cursor:pointer;
}
fieldset button:hover{
  transition: 0.3s ease-in;
}




/* Footer */
footer{
   width: 100vw;
  background-image: -webkit-linear-gradient(180deg,
    rgba(34, 0, 0, 0) 0%,
      rgb(22, 21, 21) 100%);
      /* margin-top: 10px; */
}
footer .flex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  padding-top: 60px;
}
footer .flex h2{
  font-size:30px;
  color: white;
  padding-left:25px;
  padding-top:40px;
  padding-bottom:10px;
}
.flex ul{
  padding:20px;
  list-style-type: none;
}
.flex ul li{
  padding:8px;
  font-size:19px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) ease-in;
  cursor: pointer;
  color: whitesmoke;
}
.flex ul li:hover{
  color:gold;
}
.feedback{
  margin-top:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.feedback input{
  width:300px;
  height: 50px;
  outline: gold;
  outline-color: gold;
  border: none;
  border-color: gold;
  border-radius:10px;
  padding: 15px;
}
.feedback button{
  padding: 15px;
  border: none;
  background: gold;
  color: black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 5px;
}
.blend-image{
  width:300px;
  z-index: -999;
  position:absolute;
  top: 510%;
  left: 40px;
}
 .icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
 }
.footer-icon{
  padding: 15px;
  font-size: 25px;
  width:80px;
}
.footer-icon:hover{
  transition: .2s ease-in;
  transform: scale(1.3);
fill:gold;
}

.copyright{
  text-align: center;
  color: white;
  font-size: 22px;
  padding-top: 80px;
}







@media (max-width: 700px){

  .star{
   display:none;
  }

  .container{
 height:700px;
  }

  header b{
  font-size: 14px;
  text-align:center;
  left:16%;
  }

  .navbar{
    gap:3em;
  }

  .navbar ul{
  margin:0 9px;
  margin-left:3px;
  margin-right:-30px;
  padding-left: 3px;
  }

  .navbar ul li a{
    font-size:16px;
  }

  .content{
    margin-left:5%;
    width:90%;
    margin-top:10%;
  }
  
  .content h1{
 padding-top:15px;
 font-size:60px;
    font-weight:999;
    line-height:5.5rem;
    color: black; 
}

video{
  height:600px;
}


.news-letter{
  margin-top:0;
  height:130vh;
  display:flex;
  flex-direction:column;
  margin-top:10px;
  justify-content:center;
  align-items: center;
  gap: 3em;
}
.details p{
  background: black;
  z-index: 999;
}
.news-letter h1{
  font-size:60px;
  padding-top:0;
}
.fieldset{
  height:350px;
}
}





/* Music-section */

.container1{
  height:95vh;
  width: 100%;
  position: relative;
  top: 0;
  background-size:cover;
  background-image: url("../src/Images/music-edit.jpg");
}

.music-section{
  position: relative;
    top:120px;
    /* overflow-y: hidden;
    overflow-y: hidden; */
}
video{
  width:100%;
  height:700px;
  position: absolute;
  top:0;
    opacity:0.6;
    object-fit: cover;
    z-index: -1;
}
.background-video{
z-index: -1;
}
.text{
    padding-top: 80px;
}
.music-section p{
  font-size:25px;
  font-weight:500;
  padding-top:15px;
    text-align: center;
   color:#EAEAEA;
   font-family: 'Times New Roman', Times, serif;
  letter-spacing: 2px;
}

.music-section h1{
    font-size: 70px;
    color:#EAEAEA;
        text-align: center;
   padding: 5px 4px;
}
.call-to-action{
    margin-left:25em;
    margin-top:2em;
    display:flex;
    gap: 2em;
}
.call-to-action button{
    width: 300px;
    height:50px;
    border: none;
    font-size:20px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
}
.one{
  background: gold;
}
.one:hover{
  border: 4px solid gold;
  background: transparent;
  color: white;
  transition: 0.2s ease-in;
  scale:0.9;
}

/* NEW RELEASE */
.musicians{
  margin-top:48%;
  
}

 .music-image{
              margin: 25px;
        height: 300px;
        width: 500px;
        background-image: URL("../src/Images/justin1.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 20px;
            }
.music-player h1{
  text-align: center;
  color:gold;
  font-size:40px;
    padding-top:5px;
    padding-bottom:20px;
  font-weight:555;
  text-shadow: 2px 3px 3px black;
}
.music-player-text{
  width:80%;
  height:90px;
  margin-top: 3%;
  margin-left:7%;
  margin-bottom:4%;
}
.music-flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.music-title{
  text-align: center;
}
.music-title h2{
  font-size:48px;
  color: white;
  font-family:"Roboto", sans-serif;
  padding: 15px 0;
}
.music-title p{
  font-size: 25px;
  color: white;
  padding-bottom: 5PX;
}
.controls{
  display: flex;
  flex-direction: row;
  /* justify-content: center;
  align-items: center; */
  /* flex-direction: row;
  gap:1em; */
}
.icon1{
  fill: gold;
padding: 15px;
    font-size:50px;
    width: 120px;
    cursor: pointer;
}
   /* Define the slider width so that it scales properly */
    
    .slider_container {
        width: 80%;
        max-width: 700px;
        color: #ffc800;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Modify the appearance of the slider */
    
    .seek_slider,
    .volume_slider {
        appearance: none;
        height: 5px;
        background: #ffe815;
        opacity: 0.7;
        transition: opacity .2s;
    }
    /* Modify the appearance of the slider thumb */
    
    .seek_slider::-webkit-slider-thumb,
    .volume_slider::-webkit-slider-thumb {
        appearance: none;
        width: 25px;
        height: 25px;
        background: #ffd900;
        cursor: pointer;
        border-radius: 50%;
    }
    /* Change the opacity when mouse is hovered */
    
    .seek_slider:hover,
    .volume_slider:hover {
        opacity: 1.0;
    }
    
    .seek_slider {
        width: 70%;
    }
    
    .volume_slider {
        width: 25%;
    }
    
    .current-time,
    .total-duration {
        padding: 10px;
    }
    
    i.fa-volume-down,
    i.fa-volume-up {
        padding: 20px;
    }
    /* Change the mouse cursor to a pointer
    when hovered over */
    
    i.fa-play-circle,
    i.fa-pause-circle,
    i.fa-step-forward,
    i.fa-step-backward {
        cursor: pointer;
    }
    .testimonial{
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
    }
    .testimonial-heading{
          width: 100%;
    height: 80px;
    margin-top: 5%;
    margin-bottom:5%;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    /* background: black; */
    color: gold;
    filter: drop-shadow(8px 8px 8px rgb(39, 36, 29));
    }
    .testimonial-heading h1{
      letter-spacing:3px;
    }
.testimonial-grid{
  display:grid;
 grid-template-columns: 100px 100px 100px ;
   justify-content: center;
   column-gap:17em;
   row-gap: 2em;
   align-items: center;
}
.testimonial-flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-flex img{
   border:3px solid gold;
}
.testimonial-flex p{
  font-size: 20px;
  padding-top: 15px;
  color:white;
  text-align: center;
}

    /* FAVOURITE ARTIST SECTION */
    #favorites{
      /* position: relative; */
      margin-top:10%;
      text-align: center;
      color: white;
    }
    .fav-text h1{
      font-size:40px;
      padding-bottom: 50px;
    }
    /* Recommendation Section */
     .music-list h1{
      text-align: left;
      font-size: 48px;
      color: gold;
     }
        .music-list{
          flex: 3;
        }
        .music-list div{
              display: flex;
    border-bottom: 2px solid gold;
    justify-content: space-between;
        }
        .music-list h3 {
            margin: 10px 0;
            font-size: 28px;
            font-weight: normal;
            color:white;
        }
        .music-info{
          flex: 2;
    border-radius: 10px 0 0 10px;
    display: block;
    padding-left: 50px;
        }
        .music-info img {
    width: 350px;
    max-height: 300px;
    margin: 40px 40px 40px 0;
    border-radius: 20px;
}
.music-info h2{
      /* margin: 10px 0; */
    font-size:36px;
    color:gold;
}
.music-info h5 {
    font-size: 28px;
    color:gold;
    font-weight: 300;
    opacity:70%;
    padding: 20px 0;
}
.music-info button{
    padding: 10px 40px;
    font-size: 32px;
    background-color:gold;
    border-radius: 10px;
    margin-top:20px;
    border: none;
}



/* Studio-section */
.background-studio{
    width:100%;
  height:670px;
  position:relative;
  top:0;
    opacity:0.7;
    object-fit:cover;
}
.collaboration-logo{
  /* background:gold; */
margin-top: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content:space-evenly; */
}
.collaboration-logo div{
  margin-top:2%;
}
.collaboration-logo img{
  width:80px;
  height: 80px;
  border-radius: 100%;
}
.testimonial{
  background:gold;
  width:100%;
  height:80vh;
  background-image:url();
}