body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background: rgb(17, 17, 17);
    color: white;
}
header{
    position: fixed;
    left:20%;
    width:90%;
    height:90px;
    top: 0;
background-color: rgb(7, 7, 6);
border-bottom: 1px solid gold;
z-index: 999;
}
header nav{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap:28%;
}
header nav h1{
    padding-top: 6px;
    padding-left: 25px;
    font-size:39px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav span{
    color: gold;
}
.search{
margin-top:25px;
display: flex;
gap:1em;
justify-content: space-between;
}
.search input{
    width:250px;
    height:50px;
    border-radius:10px;
    border: none;
    outline-style: none;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 222;
    background: rgb(255, 217, 1);
}
::placeholder{
    color: black;
    font-size: 18px;
}
.search button{
    width: 100px;
    height: 50px;
    border: none;
    background: gold;
    font-size: 18px;
    border-radius: 10px;
    font-weight:555;
    margin-left: 15px;
    color: black;
    cursor: pointer;
}
.icon{
    display: flex; 
     flex-direction: row;
}
aside{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 6);
    height:100vh;
    width:20%;
    z-index: 999;
}
.brand{
    display: flex;
    /* background-color: red; */
    height: 80px;
    /* border-bottom: 2px solid gold; */
    flex-direction: row;
    justify-content: space-evenly;
}
.brand img{
    /* margin-top: 15px; */
}
aside h1{
    font-family:sans-serif;
    font-size:40px;
    /* padding-left: 15px; */
    /* padding-top:10px; */
    color: gold;
    text-align: center;
}
aside ul{
padding: 10px;
margin-top:15px;
}
aside ul li{
    width:250px;
    border-bottom: 2px solid black;
    /* background-color: green; */
    list-style-type: none;
    padding-top:30px;
    padding-bottom:3px;
    font-size:22px;
    text-align: center;
}
a{
    padding-left:15px;
    text-decoration:none;
    color:white;
    cursor: pointer;
    transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
    color: gold;
}

main{
    /* width:100%;
    height: 100vh; */
    /* position:fixed; */
    margin-top:5%;
    margin-left:20%;
}
footer{
    border-top:1px solid gold;
    width:269px;
    position: absolute;
    height: 40px;
    bottom:20px;
    /* background:green; */
}
.logOut-flex{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   background: red;
   cursor: pointer;
}
.log h3{
    font-size: 30px;
}
.logOut-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    background: red;
    height: 60px;
}
footer span p{
    /* padding-bottom: 30px; */
}